*,body,html
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root
{
    --white: #fff;
    --black:#000000;
   --yellow:#F5AB1E; 
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container
{
    width: 1140px;
    margin: auto;
}

/* -------header start------- */
.header
{
    width: 100%;
    padding: 12px 0;
    z-index:3;
    position: absolute;
    top: 0;
}

.header .left-top
{
    color: var(--black);
    width: 100%;
    display: flex;
    height: 30px;
}

.right-top ul li a
{
     color: #fff; 
     display:block;
}

.header-top
{
    display: flex;
    justify-content: space-between;
}
 
.header-top .right-top
{
    display: inline-block;
    position: relative;
}

.header-top .right-top .accnt-btn
{
    display: inline-flex;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    background: transparent;
    color: #000;
    box-shadow: none;
    outline: none;
    border: 0;
    text-transform: uppercase;
    letter-spacing: .5px;
    cursor: pointer;
    font-family:sans-serif;
}

.header-top .right-top .top
{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #00000014;
    list-style: none;
    padding: 15px;
    display: none;
}

.header-top .right-top:hover > .top 
{
    display: block;
}

.header-top .right-top .top li
{
    margin-bottom: 7px;
}

.header-top .right-top .top li:last-child 
{ 
    margin-bottom: 0; 
}

.header-top .right-top .top a:hover
{
    color: var(--yellow);
}

.header-top .right-top .top li a 
{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    letter-spacing: .5px;
    white-space: nowrap;
}



.header-top .left-top p span
{
    animation: blinker 0.7s infinite;
    font-weight: 600;
    font-family: sans-serif;
}

.left-top{
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

@keyframes blinker
{
    50%
    {
        color: var(--yellow);
       
    }
}

hr
{
    color: #6f6f6f;
}

.icon
{
    width:12%;
    padding-top: 20px;
    display: flex;
}

.theme-header-logo img {
    width: 120px;
}


.header-bottem
{
    width: 100%;
    display: flex;
    z-index: 9999;
}

.end-icon
{
    display: flex;
    width: 10%;  
    cursor: pointer;
}

.shop-icon
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
}

.search 
{
    margin-right: 20px; 
    margin-top: 30px;
}
 
.like
{
    margin-right: 20px; 
    margin-top: 30px;
}

.beg
{
    margin-right: 20px; 
    margin-top: 30px;
}

.main
{
    width: 80%;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.menu
{
    width: 80%;
    justify-content: center;
    display: flex;
}
.menu li
{
    display: inline-block;
    position: relative;
    padding-left: 0px;
}

.menu  li a
{
    text-decoration: none;
    padding: 10px;
    margin-left: 6px;
    margin-right: 6px;
    display: block;
    color:var(--black);
    line-height: 30px;
    letter-spacing: .5px;
    white-space: nowrap;
}
 
.menu .submenu li a
{
    padding: 1px;
}

.menu  li a:hover
{
    color: var(--yellow);
}

.submenu
{
 position: absolute;
 display: none;
 background-color: white;
}

.menu li:hover .submenu, .submenu li:hover .petamenu
{
    display: block; 
}

.petamenu
{
    position: absolute;
    display: none;
    background-color: #fff;
    left: 100%;
    top: 0%;
}

.mi{
  display: flex;
}


.mi li img{
    width: 300px;
    height: 250px;
    padding: 20px;
    margin-left: -20px;
 }
 

/* ------header over---- */

/* -------main start --- */


.first-area
{
    padding-top: 170px;
    /* padding-bottom: 80px;  */
}

.home-link
{
    margin-left: 500px;
}

.home-link a
{
    color: #6f6f6f;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;     
}

.middle-area h1
{
    padding-top: 100px;
}

.middle-area
{
    margin-left: 300px;
}

/* .account-page-1
{
    display: flex;
} */
.middle-area p
{
    padding-top: 20px;
    color: #6f6f6f;
    font-size: 17px;
   
}

.middle-area input
{
  width: 300px;
  height: 40px;
  margin-top: 20px;
  display: flex;
  padding-left: 15px;
}


.middle-area .ac-1page-btn
{
    width: 300px;
    height: 40px;
    background-color: #F5AB1E;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
   
}

.middle-area .ac-1page-btn:hover
{
    background-color: var(--white);
    color:var(--yellow);
    border: 2px solid #F5AB1E;
}

.middle-area  a
{
    color: var(--yellow);
    margin-left: 50px;
    padding-top: 20px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.link-forget
{
    margin-top: 20px;
    
}

.middle-area-1 
{
    margin-left: 800px;
    margin-top: -250px;
}
.middle-area-1 h2
{
    /* margin-left: 500px; */
    /* margin-top: -250px; */
    font-size: 18px;
    font-family: sans-serif;
}

.create-accout-btn
{
    width: 180px;
    height: 40px;
    background-color: var(--yellow);
    /* margin-left: 700px; */
    /* margin-top: -100px; */
    margin-top: 20px;
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 40px; */
}

.create-accout-btn:hover
{
    color: var(--yellow);
    background-color: var(--white);
    border: 2px solid #F5AB1E;
}

.term-con 
{
 margin-top: 20px;
 /* margin-bottom: 15px; */
}

.middle-area-1 p
{
    line-height: 25px;
    font-size: 15px;
}

.middle-area-1 a
{
    text-decoration: none;
    color: var(--yellow);
}

/* ----------------------------------------------------main over------------------------------------------------------ */



/* -----------------------------------------------------footer start------------------------------------------------ */

.footer-top-area
{
    
    padding-top: 200px;
    padding-bottom: 80px;
    background-color: #f9f9f9;
    background-image: url(image/footerimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.footer-newsletter .news-letter {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-newsletter .title h2.ft-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
}

.footer-newsletter .title p {
    margin-top: 4px;
    color: #6f6f6f;
}

/* .footer-newsletter .news-letter .subscribe-block, .footer-newsletter .news-letter input.email {
    position: relative;
} */
.footer-newsletter .news-letter .subscribe-block {
    margin-top: 22px;
}

.footer-newsletter .news-letter .subscribe-content input {
    height: 45px;
    font-size: 14px;
    border: none;
    padding: 12px 15px;
}

.btn-footer
{
    padding: 5px 30px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    border: 2px solid var( --yellow);
    background-color: var(--yellow);
    text-align: center;
    margin: 11px 5px;
}
.btn-footer:hover{
    background-color: var(--white);
    color: var(--yellow);
}

.subscribe-content
{
    display: flex;
    padding-top: 30px;
}

.subscribe-content input {
    margin-top: 20px;
    width: 450px;
    margin-left: -20px;
   outline: none;
   background-color: var(--white);
}

.form i{
    margin-top: -100px;
}

.submit-btn-slide5
{
    margin-top: 20px;
    outline: none;
    
}

.subscribe-content .submit-btn-slide5:hover
{
    color: #F5AB1E;
    background-color: #fff;
}


.footer-top-area .footer-list-wrap {
    padding-top: 30px;
    border-top: 1px solid #e2e2e2;
    margin-top: 30px;
}

.footer-top-area  ul.footer-list {
    display: flex;
    margin-left: -15px;
}

.footer-top-area ul.footer-list li.ftlink-li {
    width: calc(20% - 15px);
    margin-left: 15px;
}

a.theme-footer-logo {
    display: block;
}

a.theme-footer-logo img {
    width: 120px;
}

.logo-footer {
    max-width: 100%;
    height: auto;
}

.footer-top-area .footer-info .logo p {
    margin-top: 13px;
    color: #6f6f6f;
    /* letter-spacing: 1px; */
    line-height: 25px;
    font-family: sans-serif;
    word-spacing: 2px;
   
}

/* .footer-top-area  li.ftlink-li h2.ft-title {
    font-size: 16px;
    font-weight: 600;
} */


.footer-top-area  li.ftlink-li ul.footer-sublist {
    margin-top: 13px;
}   

.footer-top-area ul.footer-sublist li.ftsublink-li {
    padding: 5px 0;
}

.ft-sublink
{
    text-decoration: none;
    color: var(--black);
}

.ft-sublink:hover
{
    color: var(--yellow);
}

.footer-bottom-area {
    background-color: var(--yellow);
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.footer-bottom-area .row
{
    margin-right: -15px;
    margin-left: -15px;
}

.footer-bottom-area  .col {
    flex: 1 0 0%;
}


.footer-bottom-area ul.ft-bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom-area ul.ft-bottom li {
    width: 50%;
}

.footer-bottom-area .copy-right p {
    font-size: 16px;
    margin-bottom: 0;
    color: var(--white);
}

.footer-bottom-area ul.ft-bottom li.payment-img {
    text-align: right;
}

.payment-img i
{
    color:  var(--white);
    margin-left: 15px;
}

/* ---------------------------------------------------footer over ------------------------------------------- */

