*,body,html
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.poppins-thin 
{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
  .poppins-extralight
{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.poppins-light 
  {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.poppins-regular 
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

.clear{
    clear: both;
}

.p-fix{
    position: fixed;
}

.p-relative{
    position: relative;
}

.p-absulute{
    position: absolute;
}

.p-sticky
{
    position: sticky;
}

.container{
    width: 1140px;
    /* margin: auto; */
}

.r-flex
{
    display: flex;
}

.j-between{
    justify-content: space-between;
}

.j-around{
    justify-content: space-around;
}

.tp-10{
    padding-top: 10px;
}

.tp-20{
    padding-top: 20px;
}

.tp-30{
    padding-top: 30px;
}

.tp-40{
    padding-top: 40px;
}

.tp-50{
    padding-top: 50px;
}

.tp-60{
    padding-top: 60px;
}

.bp-10{
    padding-bottom: 10px;
}

.bp-20{
    padding-bottom: 20px;
}

.bp-30{
    padding-bottom: 30px;
}

.font-1
{
    font-size: 18px;
}

.rm-10
{
    margin-right: 10px;
}

.rp-10
{
    padding-right: 10px;
}

.rp-20
{
    padding-right: 20px;
}

.text-white{
    color: var(--white);
}


:root
{
    --white: #fff;
    --black:#000000;
   --yellow:#F5AB1E;
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.bg-black
{
    background-color: var(--black);
}

.container
{
    max-width: 1140px;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin: auto;
}

/* ----------header start----- */

.header
{
    width: 100%;
    padding: 12px 0;
    z-index:3;
    position: absolute;
    top: 0;
}

.header .left-top
{
    color: var(--black);
    width: 100%;
    display: flex;
    height: 30px;
}

.right-top ul li a
{
     color: #fff; 
     display:block;
}

.header-top
{
    display: flex;
    justify-content: space-between;
}
 
.header-top .right-top
{
    display: inline-block;
    position: relative;
}

.header-top .right-top .accnt-btn
{
    display: inline-flex;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    background: transparent;
    color: #000;
    box-shadow: none;
    outline: none;
    border: 0;
    text-transform: uppercase;
    letter-spacing: .5px;
    cursor: pointer;
    font-family:sans-serif;
}

.header-top .right-top .top
{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #00000014;
    list-style: none;
    padding: 15px;
    display: none;
}

.header-top .right-top:hover > .top 
{
    display: block;
}

.header-top .right-top .top li
{
    margin-bottom: 7px;
}

.header-top .right-top .top li:last-child 
{ 
    margin-bottom: 0; 
}

.header-top .right-top .top a:hover
{
    color: var(--yellow);
}

.header-top .right-top .top li a 
{
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    letter-spacing: .5px;
    white-space: nowrap;
}



.header-top .left-top p span
{
    animation: blinker 0.7s infinite;
    font-weight: 600;
    font-family: sans-serif;
}

.left-top{
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

@keyframes blinker
{
    50%
    {
        color: var(--yellow);
       
    }
}

hr
{
    color: #6f6f6f;
}

.icon
{
    width:12%;
    padding-top: 20px;
    display: flex;
}

.theme-header-logo img {
    width: 120px;
}


.header-bottem
{
    width: 100%;
    display: flex;
    z-index: 9999;
}

.end-icon
{
    display: flex;
    width: 10%;  
    cursor: pointer;
}

.shop-icon
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
}

.search 
{
    margin-right: 20px;
    margin-top: 30px;
    
}
 
.like
{
    margin-right: 20px; 
    margin-top: 30px;
}

.beg
{
    margin-right: 20px; 
    margin-top: 30px;
}

.mi{
    display: flex;
    gap: 20px;
}



.mi li img{
   width: 300px;
   height: 250px;
   padding: 20px;
   margin-left: -20px;
}

.main
{
    width: 80%;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.menu
{
    width: 80%;
    justify-content: center;
    display: flex;
}

.menu li
{
    display: inline-block;
    position: relative;
    padding-left: 0px;
}


.menu  li a
{
    text-decoration: none;
    padding: 10px;
    margin-left: 6px;
    margin-right: 6px;
    display: block;
    color:var(--black);
    line-height: 30px;
    letter-spacing: .5px;
    white-space: nowrap;
}
 
.menu .submenu li a
{
    padding: 1px;
}

.menu  li a:hover
{
    color: var(--yellow);
}

.submenu
{
 position: absolute;
 display: none;
 background-color: white;
}

.menu li:hover .submenu, .submenu li:hover .petamenu
{
    display: block; 
}
 
.petamenu
{
    position: absolute;
    display: none;
    background-color: #fff;
    left: 100%;
    top: 0%;
}

/* .list-unstyled 
{
    padding-left: 0;
    list-style: none;
}

.ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.ul li.shoplink-li {
    width: calc(25% - 23px);
}

.ul li.shoplink-li a.shoplink-title {
    display: block;
    font-size: 16px;
    width: 100%;
    padding-bottom: 20px;
    font-weight: 600;
}

.ul li.shoplink-li ul.shopsupmenu-dropdown {
    display: grid;
    gap: 10px;
} */
/* ----------header over----------- */

/* --------main start------- */

.main-banner 
{
    width: 100%;
}

.main-banner-slider .item 
{
    position: relative;
}

.main-banner-slider .item .item-in 
{
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: -1;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-banner-slider .item .item-in img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92%;
    object-fit: cover;
    z-index: -1;
}

.main-banner-slider .item .item-in h2
{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    color: var(--black);
}

.main-banner-slider .item .item-in h6
{
    font-size: 32px;
    margin-top: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 20px;
}

.main-banner-slider .item .item-in a
{
    text-decoration:none;
    border-bottom: 3px solid #F5AB1E;
    color:black ;
    font-size: 18px;
    position: relative;
    margin-top: 25px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
}


.banner-grid
{
    padding-top: 10px;
    padding-bottom: 0px;
}


.banner-grid ul.banner-wrap
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -30px 0 0 -30px;
}



.banner-grid ul.banner-wrap .banner-wrapper
{
    width: calc(33.33% - 30px);
    margin: 30px 0 0 30px;
}

.banner-hover
{
    position: relative;
    overflow: hidden;
}

.banner-hover a
{
    padding: 0;
    margin: 0;
}

 .banner-hover a
 {
    color:var(--black);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: all .2s ease-in-out 0s;
}

.banner-hover img 
{
    transition: all .2s ease-in-out;
}

.img-fluid 
{
    max-width: 100%;
    height: auto;
}

.banner-hover:hover img
{
    transform: scale(1.1);
    width: 100%;
    position: relative;
}


.banner-grid .banner-content.text-right {
    right: 20px;
}

.banner-grid .banner-content {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
}

.banner-content.text-right p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.banner-content.text-right h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.2;
    display: block;
    font-size: 16px;
    font-weight: bold;
}


.banner-grid .banner-content .banner-btn {
    color: #f5ab1e;
    font-weight: 700;
    margin-top: 8px;
    transition: 0.3s ease;
}

.banner-grid .banner-content h3 {
    font-size: 18px;
    margin-top: 5px;
    font-weight: 700;
}

.banner-grid .banner-content p
{
    color: #6f6f6f;
}

.banner-grid .banner-content .banner-btn:hover
{
    color: var(--black);
}


.our-service-area 
{
    padding-top: 80px;
    padding-bottom: 0px;
    background-color:var(--white);
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0 0%;
}

.our-service-area ul.single-service 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.our-service-area ul.single-service li
{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px dashed #dedede;
}

.our-service-area ul.single-service li.service-content .main-block
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-service-area ul.single-service li a
{
    line-height: 0;
    font-size: 38px;
    color: var(--black);
    margin-right: 15px;
    display: inline-block;
}

.our-service-area ul.single-service li i
{
    display: inline-block;
    transition: transform 400ms ease-in-out 0s;
}

.our-service-area ul.single-service li span
{
    color: var(--black);
    font-size: 17px;
    font-weight: 500; 
}

span{
    display: inline-block;
}

.our-service-area ul.single-service li p {
    margin-bottom: 0px;
    margin-top: 2px;
    color: #6f6f6f;
}

.icon-block
{
  display: flex;
}

.icon-block i:hover
{ 
  color:#F5AB1E;
  transform:rotate(360deg);
  transition: all ease-in-out 2s;
}

.first-silde-lay
{
    margin-top: 80px;
}


.product-area {
    padding-top: 80px;
    padding-bottom: 80px;
   
}

.product-area .section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.product-area .tab-arrow {
    display: flex;
    align-items: center;
    margin-left: 90px;
    
}

.product-area ul.nav-tabs {
    border: none;
    margin-right: 30px;
  
}


.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* .first-silde-lay .item img:hover
{
    background-image: url(image/m1.avif);
} */

/* ------------------------------------------------------------------------------ */

.icom-1
{
    margin-left: 60px;
    position: absolute;
    margin-top: -30px;
    transition: all ease-in-out .5s;
    opacity: 0;
}

.icom-1 i
{
    padding: 10px;
    background-color: var(--white);
    color: var(--black);    
    box-shadow: 2px 2px 4px gray;
    margin-left: 8px;
}

.icom-1 i:hover
{
    background-color: var(--yellow);
}

.mm:hover .icom-1
{
   margin-top: -50px;
   opacity: 100;
  
}

/* ------------------------------------------------------------------------------ */


.product-area ul.nav-tabs li a {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    /* padding-left: 15px; */
    line-height: 1;
    display: inline-block;
    cursor: pointer;
    color: var(--black);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    
}
.section-title .tab-arrow {
    margin-right: 100px;
    margin-bottom: -20px;
}

.product-area h2{

    margin-top: 20px;
}

.nav-tabs
{
    margin: 0px 30px 0px 0px;
}

.tab-arrow .nav-tabs :hover
{
   color: var(--yellow);
  
}

.tab-arrow ul li{
    padding: 0px 0px 0px 15px;
}


.it-1 a{
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
    letter-spacing: 1px;
    align-items: center;
    margin-left: 40px;
  
}

.it-1 a:hover{
 border-bottom: black 2px solid;
}

.it-1 p{
    margin-top: 8px;
    text-align: center;
}
 
 .product-title a
{
    font-weight: lighter;
    color: var(--black);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    margin-left: 20px;
}

.product-title a:hover{
    color: var(--yellow);
}

.price-box { 
    margin-top: 5px;
    margin-left: 20px;
}

.price-box .new-price
{
    font-weight: 600;
    color: var(--black);
}

.price-box span
{
    display: inline-block;
}

.price-box .old-price 
{
    text-decoration: line-through;
    padding-left: 5px;
}

.star
{
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
}


.silde1 .owl-nav button.owl-next
{
  position: absolute;
  top: -17% !important;
  right: 5px;
  width: 30px;
  height: 30px;
  /* margin:   5px; */
  /* line-height: 0; */
  /* display: flex; */
  align-items: center !important;
  justify-content: center !important;
  /* border-radius: 3px; */
  color:var(--white) !important;
  font-size: 25px !important;
  background-color: var(--yellow) !important;
}


.silde1 .owl-nav button.owl-prev
{
    position: absolute;
    top: -17% !important;
    right: 55px;
    /* right: 45px !important; */
    width: 30px;
    height: 30px;
    /* line-height: 0;
    display: flex; */
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color:var(--white) !important;
    font-size: 25px !important;
    background-color: var(--yellow) !important;
}

.silde1.owl-carousel .owl-nav button.owl-prev:hover{
    background-color: var(--white) !important;
    color: var(--yellow) !important;
    transition: all ease-in-out .1s;
}

.silde1.owl-carousel .owl-nav button.owl-next:hover{
    background-color: var(--white) !important;
    color: var(--yellow) !important;
    transition: all ease-in-out .1s;
}


.silde2.owl-carousel .owl-nav button.owl-next
{
    position: absolute;
  top: -17% !important;
  right: 5px;
  width: 30px;
  height: 30px;
  /* margin:   5px; */
  /* line-height: 0; */
  /* display: flex; */
  align-items: center !important;
  justify-content: center !important;
  /* border-radius: 3px; */
  color:var(--white) !important;
  font-size: 25px !important;
  background-color: var(--yellow) !important;
}

.silde2.owl-carousel .owl-nav button.owl-prev
{
    position: absolute;
    top: -17% !important;
    right: 55px;
    /* right: 45px !important; */
    width: 30px;
    height: 30px;
    /* line-height: 0;
    display: flex; */
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color:var(--white) !important;
    font-size: 25px !important;
    background-color: var(--yellow) !important;
}

.silde2.owl-carousel .owl-nav button.owl-prev:hover{
    background-color: var(--white);
    color: var(--yellow);
    transition: all ease-in-out .1s;
}

.silde2.owl-carousel .owl-nav button.owl-next:hover{
    background-color: var(--white) !important;
    color: var(--yellow) !important;
    transition: all ease-in-out .1s;
}

.silde3.owl-carousel .owl-nav button.owl-next
{
  position: absolute;
  top: -17% !important;
  right: 5px;
  width: 30px;
  height: 30px;
  /* margin:   5px; */
  /* line-height: 0; */
  /* display: flex; */
  align-items: center !important;
  justify-content: center !important;
  /* border-radius: 3px; */
  color:var(--white) !important;
  font-size: 25px !important;
  background-color: var(--yellow) !important;
}

.silde3.owl-carousel .owl-nav button.owl-prev
{
    position: absolute;
    top: -17% !important;
    right: 55px;
    /* right: 45px !important; */
    width: 30px;
    height: 30px;
    /* line-height: 0;
    display: flex; */
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color:var(--white) !important;
    font-size: 25px !important;
    background-color: var(--yellow) !important;
}

.silde3.owl-carousel .owl-nav button.owl-prev:hover{
    background-color: var(--white);
    color: var(--yellow);
    transition: all ease-in-out .1s;
}

.silde3.owl-carousel .owl-nav button.owl-next:hover{
    background-color: var(--white) !important;
    color: var(--yellow) !important;
    transition: all ease-in-out .1s;
}


.silde4.owl-carousel .owl-nav button.owl-next
{
    position: absolute;
  top: -17% !important;
  right: 5px;
  width: 30px;
  height: 30px;
  /* margin:   5px; */
  /* line-height: 0; */
  /* display: flex; */
  align-items: center !important;
  justify-content: center !important;
  /* border-radius: 3px; */
  color:var(--white) !important;
  font-size: 25px !important;
  background-color: var(--yellow) !important;
}

.silde4.owl-carousel .owl-nav button.owl-prev
{
    position: absolute;
    top: -17% !important;
    right: 55px;
    /* right: 45px !important; */
    width: 30px;
    height: 30px;
    /* line-height: 0;
    display: flex; */
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color:var(--white) !important;
    font-size: 25px !important;
    background-color: var(--yellow) !important;
}

.silde4.owl-carousel .owl-nav button.owl-prev:hover{
    background-color: var(--white) !important;
    color: var(--yellow) !important;
    transition: all ease-in-out .1s;
}

.silde4.owl-carousel .owl-nav button.owl-next:hover{
    background-color: var(--white) !important;
    color: var(--yellow) !important;
    transition: all ease-in-out .1s;
}

.silde5.owl-carousel .owl-nav button.owl-next
{
    position: absolute;
  top: -17% !important;
  right: 5px;
  width: 30px;
  height: 30px;
  /* margin:   5px; */
  /* line-height: 0; */
  /* display: flex; */
  align-items: center !important;
  justify-content: center !important;
  /* border-radius: 3px; */
  color:var(--white) !important;
  font-size: 25px !important;
  background-color: var(--yellow) !important;
}

.silde5.owl-carousel .owl-nav button.owl-prev
{
    position: absolute;
    top: -17% !important;
    right: 55px;
    /* right: 45px !important; */
    width: 30px;
    height: 30px;
    /* line-height: 0;
    display: flex; */
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color:var(--white) !important;
    font-size: 25px !important;
    background-color: var(--yellow) !important;
}

.silde5.owl-carousel .owl-nav button.owl-prev:hover{
    background-color: var(--white) !important;
    color: var(--yellow) !important;
    transition: all ease-in-out .1s;
}

.silde5.owl-carousel .owl-nav button.owl-next:hover{
    background-color: var(--white) !important;
    color: var(--yellow) !important;
    transition: all ease-in-out .1s;
}

.silde6.owl-carousel .owl-nav button.owl-prev
{
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50px);
    color: var(--white) !important;
    font-size: 25px !important;
    width: 35px;
    height: 35px;
    background-color: var(--yellow) !important;
    align-items: center;
    border-radius: 3px;
    transition: 0.5s;
    opacity: 0;
}

.silde6.owl-carousel .owl-nav button.owl-next
{
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50px) ;
    color: var(--black);
    font-size: 25px !important;
    color: var(--white) !important;
    font-size: 30px;
    width: 35px;
    height: 35px;
    background-color: var(--yellow) !important;    
    align-items: center;
    border-radius: 3px; 
    opacity: 0;
    transition: 0.5s;
    
}
.silde6.owl-carousel:hover .owl-nav button.owl-next{
    right: 30px !important; 
    opacity: 100;
 
}

.silde6.owl-carousel .owl-nav button.owl-next:hover
{
    background-color: var(--white) !important;
    color: var(--yellow) !important; 
    
}

.silde6.owl-carousel .owl-nav button.owl-prev:hover
{
    background-color: var(--white) !important;
    color: var(--yellow) !important; 
}

.silde6.owl-carousel:hover .owl-nav button.owl-prev{
    left: 30px !important;
    opacity: 100;
}

.deal-products-content
{
  margin-top: 80px;
  margin-bottom: 80 px;
}

.deal-products-content .deal-bg
{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.deal-products-content .block-deal
{
    max-width: 427px;
    text-align: center;
}

.deal-products-content .section-title .deal-ttsub
{
    font-size: 19px;
    font-weight: 400;
    display: block;
    color: #6f6f6f;
}

.deal-products-content .section-title h2 
{
    margin-top: 15px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-title h2
{
    font-size: 23px;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    line-height:1;
    letter-spacing: 0.1px;
    font-family: sans-serif;
}

.timer
{
    display: flex;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 80px;
    margin-top: 21px; 
}

.timer li{
    margin: 14px;
}

.deal-products-content .deal-offer-btn
{
    margin-top: 50px;
}

.btn-style1
{
    padding: 10px 25px;
    border-radius: 3px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid var(--yellow);
    background-color: var(--yellow);
    text-align: center;
    line-height: normal;
    text-decoration: none;
    font-family: sans-serif;
}
  
.btn-style1:hover
{
  background-color: var(--white);
  color: var(--yellow);
}

.deal-products-content .deal-bg img
{
    position: absolute;
}

.deal-products-content .deal-bg .block-deal
{
    position: relative;
}


.four-slider h2
{
    margin-bottom: 20px;
    margin-top: 40px;
   
}

.cale
{
    width: 353px;
    height: 40px;
    background-color: var(--yellow);
   justify-content: space-between;
    display: flex;
    /* padding: 5px 10px; */
}

.five-slider h2{
    color: var(--black);
    padding-bottom: 20px;
}

.five-slider 
{
    color: var(--white);
    /* padding-top: 80px; */
    padding-bottom: 100px;
    margin-top: 100px;
}

.cale i
{
    padding: 5px 10px;
    /* margin-left: 0px; */
}

.comment i
{
  /* flex-wrap: wrap; */
  margin-left: -130px;

}

.pro-news
{
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
}

.pro-news  a{
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

.peregraf
{
    color: #6f6f6f;
    margin-top: 16px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}


.btn-view
{
   
    margin-top: 15px;
    
}

.btn-view a
{
    color: var(--yellow);
    font-size: 20px;
    font-weight: 600;
}

.blog-view-wrap {
    text-align: center;
    margin-top: 30px;
}

.btn-five-silde{
    padding: 10px 30px;
    border-radius: 3px;
    color: var(--white);
    font-size: 17px;
    font-weight: 600;
    border: 2px solid var(--yellow);
    background-color: var(--yellow);
    text-align: center;
    line-height: normal;
    margin-bottom: 3000px;
    text-decoration: none;
}

.btn-five-silde:hover
{
   background-color: var(--white);
   color: var(--yellow);
}

/* -------------------------------------------------------main over-------------------------------------------------------- */

/* -----------------------------------------------------footer start------------------------------------------------ */

.footer-top-area
{
    
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f9f9f9;
    background-image: url(image/footerimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.footer-newsletter .news-letter {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-newsletter .title h2.ft-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
}

.footer-newsletter .title p {
    margin-top: 4px;
    color: #6f6f6f;
}

/* .footer-newsletter .news-letter .subscribe-block, .footer-newsletter .news-letter input.email {
    position: relative;
} */
.footer-newsletter .news-letter .subscribe-block {
    margin-top: 22px;
}

.footer-newsletter .news-letter .subscribe-content input {
    height: 45px;
    font-size: 14px;
    border: none;
    padding: 12px 15px;
}

.btn-footer
{
    padding: 5px 30px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    border: 2px solid var( --yellow);
    background-color: var(--yellow);
    text-align: center;
    margin: 11px 5px;
}
.btn-footer:hover{
    background-color: var(--white);
    color: var(--yellow);
}

.subscribe-content
{
    display: flex;
    padding-top: 30px;
}

.subscribe-content input {
    margin-top: 20px;
    width: 450px;
    margin-left: -20px;
   outline: none;
   background-color: var(--white);
}

.form i{
    margin-top: -100px;
}

.submit-btn-slide5
{
    margin-top: 20px;
    outline: none;
    
}

.subscribe-content .submit-btn-slide5:hover
{
    color: #F5AB1E;
    background-color: #fff;
}


.footer-top-area .footer-list-wrap {
    padding-top: 30px;
    border-top: 1px solid #e2e2e2;
    margin-top: 30px;
}

.footer-top-area  ul.footer-list {
    display: flex;
    margin-left: -15px;
}

.footer-top-area ul.footer-list li.ftlink-li {
    width: calc(20% - 15px);
    margin-left: 15px;
}

a.theme-footer-logo {
    display: block;
}

a.theme-footer-logo img {
    width: 120px;
}

.logo-footer {
    max-width: 100%;
    height: auto;
}

.footer-top-area .footer-info .logo p {
    margin-top: 13px;
    color: #6f6f6f;
    /* letter-spacing: 1px; */
    line-height: 25px;
    font-family: sans-serif;
    word-spacing: 2px;
   
}

/* .footer-top-area  li.ftlink-li h2.ft-title {
    font-size: 16px;
    font-weight: 600;
} */


.footer-top-area  li.ftlink-li ul.footer-sublist {
    margin-top: 13px;
}   

.footer-top-area ul.footer-sublist li.ftsublink-li {
    padding: 5px 0;
}

.ft-sublink
{
    text-decoration: none;
    color: var(--black);
}

.ft-sublink:hover
{
    color: var(--yellow);
}

.footer-bottom-area {
    background-color: var(--yellow);
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.footer-bottom-area .row
{
    margin-right: -15px;
    margin-left: -15px;
}

.footer-bottom-area  .col {
    flex: 1 0 0%;
}


.footer-bottom-area ul.ft-bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom-area ul.ft-bottom li {
    width: 50%;
}

.footer-bottom-area .copy-right p {
    font-size: 16px;
    margin-bottom: 0;
    color: var(--white);
}

.footer-bottom-area ul.ft-bottom li.payment-img {
    text-align: right;
}

.payment-img i
{
    color:  var(--white);
    margin-left: 15px;
}

/* ---------------------------------------------------footer over ------------------------------------------- */

